.cabecalho {
    background: url('../img/desktop/image-header.jpg') no-repeat center center;
    background-size: cover;
    height: 89vh;
    position: relative;
    font-family: 'Barlow', sans-serif;
    color: var(--cor--branca);
}

.cabecalho .titulo {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    font-size: 50px;

}

.cabecalho::after {
    margin-top: 60px;
    content: url('../img/icon-arrow-down.svg');
    display: flex;
    justify-content: center;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4;}  
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9;}  
}

.cabecalho-container {
    display: flex;
    position: relative;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    position: relative;
}

.cabecalho-container .logo {
    font-family: 'Fraunces', serif;
    margin-left: 20px;
    font-size: 20px;
}


.cabecalho-container ul {
    display: flex;
}

.cabecalho-container ul li a {
    font-size: 16px;
    padding: 10px 30px;
    transition: 0.5s;
    color: var(--cor--branca);
}

.cabecalho-container ul li a:hover {
    color: hsl(212, 27%, 19%);
}

.cabecalho-container .contato {
    height: 30px;
    border-radius: 50px;
    color: var(--cor--preta);
    font-weight: 900;
    background-color: var(--cor--branca);
}

.cabecalho-container .contato:hover {
    color: var(--cor--branca);
    background-color: hsl(213, 9%, 39%);
}

.cabecalho-container .menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.cabecalho-container nav label {
    display: flex;
    flex-direction: column;
}

.cabecalho-container .hamburguer {
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
    background-color: var(--cor--branca);

}

.cabecalho-container .hamburguer:before,
.cabecalho-container .hamburguer:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    transition: 0.2s ease-in-out;
    background-color: var(--cor--branca);
}

.cabecalho-container .hamburguer:before {
    top: -10px;
}

.cabecalho-container .hamburguer:after {
    bottom: -10px;
}

.cabecalho-container input {
    display: none;
}

.cabecalho-container input:checked~label .hamburguer {
    transform: rotate(45deg);
}

.cabecalho-container input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.cabecalho-container input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}


@media (max-width: 980px) {
    .cabecalho-container .menu {
        display: block;
    }

    .cabecalho-container ul {
        display: none;
    }

    .cabecalho-container input:checked~ul {
        display: block;
    }

    .cabecalho-container nav {
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
    }

    .cabecalho-container ul {
        width: 200px;
        background-color: var(--cor--branca);
        padding: 10px;
        box-shadow: 10px 5px 5px black;

    }

    .cabecalho-container nav ul li a {
        display: block;
        padding: 10px;
        text-align: center;
        color: var(--cor--preta);
    }

    .cabecalho-container .contato {
        height: 40px;
        background-color: yellow;
    }
}

@media (max-width: 580px) {
    .cabecalho .titulo {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .cabecalho-container .logo  {
        margin-left: -15px;
    }

    .cabecalho .titulo {
        font-size: 30px;
    }
}